// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Element UI
@import 'element-theme-default';

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Bootstrap Vue
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/src/index.scss';

// Dark Mode
@import 'darkmode';

[v-cloak] {
  display: none;
}

html {
  overflow-x: hidden;
}

body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    margin: 0;
    min-height: 100vh;
    overflow-x: hidden;
}

header, footer {
    margin: 1rem 0;
}

a {
  color: inherit; 
  text-decoration: inherit; /* no underline */
  &:hover {
    color: #38c172;
  }
}